.TaskItem {
    /* border: 1px solid #DFDFDF; */
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 12px;
  }

.deleteTaskButton{
  margin: 2px 0px;
  background-color: brown;
  border: 1px solid black;
  padding: 0px 4px;
  border-radius: 4px;
}
.deleteTaskButton:hover{
  background-color: red;
}